/********************************  Colors  ************************************/
:root{
   --charcoal: #424242;
   --accent: #359dba;
   --warm: #e97f65;
   --light: #d8b09d;
   --dark: #535c7a;
}

/***************************  Text Styles  ************************************/

@font-face {
   font-family: Accent;
   src: url("Back to Black Demo.ttf");
}

.big-title {
   color: var(--warm);
   font-size: 200px;
   text-align: center;
   font-family: Accent;
}

.big-text {
   text-align: center;
   font-size: 100px;
   font-family: Accent;
   color: var(--charcoal);
}
.about-name {
   font-weight: bold;
   color: var(--charcoal);
}

.about-sub {
   font-weight: bold;
   font-size: 30px;
   color: var(--charcoal);
}

.about-title {
   font-weight: bold;
   font-size: 50px;
   font-family: Accent;
   color: var(--charcoal);
}

.trending-title {
   font-weight: bold;
}

.home-sub {
   font-weight: bold;
   text-align: center;
   color: var(--charcoal);
}

.general-title {
   font-size: 80px;
   font-family: Accent;
   font-weight: bold;
   color: var(--charcoal);
}

.about-text {
   font-size: 18px;
   color: var(--charcoal);
}

.instance-sub {
   font-weight: bold;
   font-size: 25px;
   color: var(--charcoal);
}

p{
   font-size: 18px;
   color: var(--charcoal);
}


/***************************  Model Grid Styles  ******************************/

.model-grid-img {
   height: 250px;
   width: 250px;
   object-fit: cover;
}

.model-grid-thumb {

}

.card img{
  height: 200px;
  width: 350px;
  object-fit: cover;
}

.card-title{
   font-weight: bold;
   font-size: 25px;
}

.card-title:hover{
   text-decoration: none !important;
}


.card {
   margin: 10px;
   width: 350px;
   color: var(--charcoal);
   text-align: center;
}

.card:hover{
   color: var(--accent);
   text-decoration: none !important;
   text-decoration-color: none !important;
   opacity: .75;

}
.card-deck{
  margin-bottom: 32px;
}

a:hover {

   text-decoration: none !important;
}



/***************************  Home Page Styles  *******************************/

.relative-pos {
   position: relative;
}
.slide-caption {
   text-align:center;
   font-weight: bold;
   color: white;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, 200%);
}

.slide-header {
   text-align: center;
   color: white;
   position: absolute;
   font-weight: bold;
   font-size: 80px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-family: Accent;

}
.carousel {
   height: 500px;
   width: 100%;
}

.carousel-img {
   width: 100%;
   height: 500px;
   object-fit: cover;
   opacity: 0.60;
}

.trending-img {
   height: 200px;
   width: 200px;
   object-fit: cover;
   border-radius: 50%;
   justify-content: center;
   margin: 10px;
}

.trending-btn {

}

/***************************  Jumbotron Styles  *******************************/

.jumbo {
   color: white;
   height: 500px;
   text-align: center;
}

.instance-tron{
  position:relative;
  padding-top: 32px !important;
  padding-bottom:32px !important;
}

.instance-tron .img{
  margin-bottom: 0px;
  opacity: 0.2;
  color: #fff;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
}

.instance-tron .container{
  position: relative;
  z-index: 2;
}

/***************************  Navbar Styles  **********************************/

.navbar {
   height: 80px;
   color: white !important;
   background-color: var(--charcoal);
}

.navbar-dark {
   color: whtie !important;
}

.navbar-link {
   color: white;
}

.navbar-link:hover{
   color: var(--accent);
}

.brand-logo{
   margin-top: 75px;
   height: 150px;
   width: 150px;
}

/***********************  About Page Styles  **********************************/

.about-logo {
   height: 100px;
   object-fit: cover;
   justify-content: center;
   margin: 10px;
}

.headshot {
   height: 250px;
   width: 250px;
   object-fit: cover;
   border-radius: 50%;
   justify-content: center;
   margin: 10px;
}

/*************************  Instance Styles  **********************************/

.youtube-holder {
  position:relative;
  width:100%;
  height:0;
  padding-bottom:56.25%;
}

.youtube-player {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:400px;
}

.poster {
   height: 400px;
   object-fit: cover;
}

.book-poster {
   height: 600px;
   object-fit: cover;
}

.topic-poster {
   height: 400px;
   object-fit: cover;
   width: 100%;
}

/***************************  Misc. Styles  ***********************************/

.home-spacing-div {
   padding-top: 80px;
}

.spacing-div {
   padding-top: 130px;
}

.model-spacing {
   padding-top: 30px;
}

.divider {
   border-width: 3px;
   border-color: var(--charcoal);
}

.col-center {
   margin: auto;
   display: block;
   text-align: center
}

.App {
  text-align: center;
}
