/********************************  Colors  ************************************/
:root{
   --charcoal: #424242;
   --accent: #359dba;
   --warm: #e97f65;
   --light: #d8b09d;
   --dark: #535c7a;
   --footer: #eaeaea;
}

/***************************  Text Styles  ************************************/

@font-face {
   font-family: Accent;
   src: url("Back to Black Demo.ttf");
}

@font-face {
   font-family: Sans;
   src: url("Roboto-Regular.ttf");
}

.big-title {
   color: var(--warm);
   font-size: 200px;
   text-align: center;
   font-family: Accent;
}

.big-text {
   text-align: center;
   font-size: 100px;
   font-family: Accent;
   color: var(--charcoal);
}
.about-name {
   font-weight: bold;
   color: var(--charcoal);
   font-family: Sans;
}

.about-sub {
   font-weight: bold;
   font-size: 30px;
   color: var(--charcoal);
   font-family: Sans;
}

.about-title {
   font-weight: bold;
   font-size: 50px;
   font-family: Accent;
   color: var(--charcoal);
}

.trending-title {
   font-weight: bold;
   font-family: Sans;
}

.home-sub {
   font-weight: bold;
   text-align: center;
   color: var(--charcoal);
   font-family: Sans;
}

.general-title {
   font-size: 80px;
   font-family: Accent;
   font-weight: bold;
   color: var(--charcoal);
}

.about-text {
   font-size: 18px;
   color: var(--charcoal);
   font-family: Sans;
}

.instance-sub {
   font-weight: bold;
   font-size: 25px;
   color: var(--charcoal);
   font-family: Sans;
}

p{
   font-size: 18px;
   color: var(--charcoal);
   font-family: Sans;
}

.api-error-small-text{
  font-size: 20px;
  color: var(--charcoal) !important;
  font-weight: bold;
}

.api-error-medium-text{
  font-size: 35px;
  color: var(--charcoal) !important;
  font-weight: bold;
}

.api-error-large-text{
  font-size: 45px;
  color: var(--charcoal) !important;
  font-weight: bold;
}


/***************************  Model Grid Styles  ******************************/

.model-grid-img {
   height: 250px;
   width: 250px;
   object-fit: cover;
}

.model-grid-thumb {

}

.card img{
  height: 350px;
  width: 350px;
  object-fit: cover;
}

.card-title{
   font-size: 25px;
   font-family: Sans;
}

.card-title:hover{
   text-decoration: none !important;
}


.card {
   margin: 10px;
   width: 350px;
   color: var(--charcoal);

}

.card:hover{
   color: var(--accent);
   text-decoration: none !important;
   text-decoration-color: none !important;
   opacity: .75;

}
.card-deck{
  margin-bottom: 32px;
}

a:hover {

   text-decoration: none !important;
}



/***************************  Home Page Styles  *******************************/

.relative-pos {
   position: relative;
}

.carousel-caption {
  bottom: 30% !important;
}

.slide-caption {
   text-align:center;
   font-weight: bold;
   color: white;
   font-family: Sans;
   text-shadow: 2px 2px var(--charcoal);
}

.slide-header {
   text-align: center;
   color: white;
   font-weight: bold;
   font-size: 80px;
   font-family: Accent;
   text-shadow: 2px 2px var(--charcoal);
}

@media screen and (max-width: 691px){
  .carousel-caption {
    top: 10% !important;
  }
}

@media screen and (max-width: 737px){
  .slide-header {
    font-size: 75px;
  }
}

@media screen and (max-width: 402px){
  .slide-header {
    font-size: 60px;
  }
}

.carousel {
   height: 500px;
   width: 100%;
}

.carousel-img {
   width: 100%;
   height: 500px;
   object-fit: cover;
   opacity: 0.60;
}

.trending-img {
   height: 200px;
   width: 200px;
   object-fit: cover;
   border-radius: 50%;
   justify-content: center;
   margin: 10px;
}

.trending-btn {
   background-color: var(--charcoal) !important;
   font-family: Sans

}

/***************************  Jumbotron Styles  *******************************/

.jumbo {
   color: white;
   height: 500px;
   text-align: center;
}

.instance-tron{
  position:relative;
  padding-top: 32px !important;
  padding-bottom:32px !important;
}

.instance-tron .img{
  margin-bottom: 0px;
  opacity: 0.2;
  color: #fff;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
}

.instance-tron .container{
  position: relative;
  z-index: 2;
}

/***************************  Navbar Styles  **********************************/

.navbar {
  min-height: 80px;
   color: white !important;
   background-color: var(--charcoal);
   font-family: Sans;
}

@media screen and (max-width: 767px){
  .navbar-nav{
    margin-top: 100px;
  }

  .search-field{
    margin-left: 0px !important;
  }

  .input-group{
    width: auto !important;
  }
}



.navbar-dark {
   color: white !important;
}

.navbar-link {
   color: white;
}

.navbar-link:hover{
   color: var(--accent);
}

.brand-logo{
  z-index: 1031 !important;
  position: fixed;
   height: 150px;
   width: 150px;
}

/***********************  About Page Styles  **********************************/

.about-logo {
   height: 100px;
   object-fit: cover;
   justify-content: center;
   margin: 10px;
}

.headshot {
   height: 250px;
   width: 250px;
   object-fit: cover;
   border-radius: 50%;
   justify-content: center;
   margin: 10px;
}

/*************************  Instance Styles  **********************************/

.youtube-holder {
  position:relative;
  width:100%;
  height:0;
  padding-bottom:56.25%;
}

.youtube-player {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:400px;
}

.poster {
   height: 400px;
   object-fit: cover;
}

.book-poster {
   height: 600px;
   object-fit: cover;
}

.topic-poster {
   height: 400px;
   object-fit: cover;
   width: 100%;
}



/*************************  Search and Filter Styles  *************************/

.search-title{
   font-family: Sans;
   font-size: 38px;
}

.search-button{
   background-color: var(--charcoal) !important;
   color: white !important;
   border-color: white !important;
   border-width: medium !important;
   border-radius: 0px 10px 10px 0px !important;
   font-family: Sans
}


.search-field{
   border-radius: 10px 0px 0px 10px !important;
   border-right: none !important;
   border-color: white !important;
   border-width: medium !important;
   font-family: Sans;
   margin-left: 15px;
}

.filter-label{
   font-family: Sans;
   font-size: 20px;
   color: var(--charcoal);
}



.page-button{
   background-color: var(--charcoal) !important;
   border-color: white !important;
   border-width: !important;
   font-family: Sans;
   font-size: 20px !important;
}

.page-button-bar{
  z-index: 0;
}

.page-button-active{
   background-color:white !important;
   color: var(--charcoal) !important;
   border-color: var(--charcoal);

}


.Select-control{

}

.Select-arrow{
  border-color: var(--charcoal) transparent transparent !important;
}

.Select-placeholder{
  color: var(--charcoal) !important;
}

.Select--multi .Select-value{
  color: white !important;
  background-color: var(--accent) !important;
  opacity: 0.75 !important;
  border-color: white !important;
  border-radius: 7px !important;
}

.Select--multi .Select-value-icon{
  border-right: 1px solid white !important;
}

.Select .is-focused:not(is.open) > .Select-control {

}

.Select-value-icon:hover{
  color: var(--charcoal) !important;
}

.Select-control:focus{
  outline: none !important;
  border-color: var(--charcoal) !important;

}


/***************************  Misc. Styles  ***********************************/

.home-spacing-div {
   padding-top: 80px;
   min-width: 370px;
}

.spacing-div {
   padding-top: 130px;
   min-width: 370px;
}

.spacing-div-model {
   padding-top: 170px;
   min-width: 370px;
}

.spacing-div-instance {
   padding-top: 170px;
   min-width: 370px;
}

.model-spacing {
   padding-top: 30px;
   min-width: 370px;
}

.divider {
   border-width: 3px;
   border-color: var(--charcoal);
}

.col-center {
   margin: auto;
   display: block;
   text-align: center
}

.App {
  text-align: center;
}

.footer{
   padding-top: 3rem;
   padding-bottom: 3rem;
   background-color: var(--footer);
   margin-top: 1rem;
   box-shadow: 0px 20vh 0px 0vh var(--footer)
}

.loading-icon-small{
    animation: loading-spin infinite 5s linear;
    height: 350px;
    width: 350px;
}

.loading-icon-medium{
    animation: loading-spin infinite 5s linear;
    height: 600px;
    width: 600px;
}

.loading-icon-large{
    animation: loading-spin infinite 5s linear;
    height: 800px;
    width: 800px;

}

.error-logo-small{
    height: 250px;
    width: 250px;
}

.error-logo-medium{
    height: 400px;
    width: 400px;
}

.error-logo-large{
    height: 600px;
    width: 600px;
}



@keyframes loading-spin {
   from { transform: rotate(0deg); }
   to { transform: rotate(360deg); }
}
