<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">

    <title>Comedy | PopTopic</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='/css/album.css')}}" rel="stylesheet">
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">PopTopic</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/topics"> Topics <span class="sr-only">(current)</span> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/movies"> Movies </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/music"> Music </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/books"> Books </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main role="main">

      <section class="jumbotron text-center" style="background-image: url({{url_for('static', filename='/graphics/comedy-head.png')}}); background-size: cover; background-position: center;">
        <div class="container">
          <h1 class="jumbotron-heading" style="color:white;">Comedy</h1>
          <form style="display: inline-block; margin-top: 1em;">
            <div class="form-row align-items-center">
              <div class="col-auto">
                <label class="sr-only" for="inlineFormInput">Search</label>
                <input type="search" class="form-control" id="inlineFormInput" placeholder="Search for Comedy Media">
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-outline-success my-sm-0">Search</button>
              </div>
            </div>
          </form>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <h4>Comedy Movies</h4>
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{url_for('static', filename='/graphics/minions.jpg')}}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Minions</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="/movies/minions" class="btn btn-sm btn-outline-secondary" role="button">View</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>

    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2018 Double Daniel, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for("static", filename="/js/vendor/jquery-slim.min.js")}}"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="{{ url_for('static', filename='/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='/js/vendor/holder.min.js')}}"></script>
  </body>
</html>
