<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">

    <title> I Only Say This Because I Love You | PopTopic</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='/css/album.css')}}" rel="stylesheet">

  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">PopTopic</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/topics">Topics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/movies">Movies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/music">Music</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/books">Books <span class="sr-only">(current)</span> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main role="main">
      <section class="jumbotron" style="padding-top:  32px;padding-bottom: 32px;">
        <div class="container">
          <h1> I Only Say This Because I Love You </h1>
          <div class="row">
            <div class="col-sm text-center">
              <img src="{{ url_for('static', filename='/graphics/iloveyou.jpg') }}" style="max-height:420px;">
            </div>
            <div class="col-sm text-left">
              <h6>Book Description</h6>
              <p>A guide to communicating better within families explains how to untie the knots that often hamper important discussions and how to enhance personal relationships among family members by understanding the art of conversation and listening.</p>
              <h6>Author</h6>
              <p>Deborah Tannen</p>
              <h6>Release Date</h6>
              <p>2001-05-01</p>
            </div>
          </div>
          <hr class="my-4">
          <h6>Topics: <small class="text-muted"><a href="/topics/family">Family</a>, <a href="/topics/familyandrelationships">Family and Relationships</a></small></h6>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <h4>Related Movies</h4>
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='/graphics/minions.jpg') }}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Minions</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="/movies/minions" class="btn btn-sm btn-outline-secondary" role="button">View</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h4>Related Music</h4>
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='/graphics/rubbersoul.jpg') }}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Drive My Car - Remastered</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="/music/drivemycar" class="btn btn-sm btn-outline-secondary" role="button">View</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2018 Double Daniel, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for("static", filename="/js/vendor/jquery-slim.min.js")}}"><\/script>')</script>
    <script src="{{ url_for('static', filename='/js/vendor/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename='/js/bootstrap.min.js')}}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{{ url_for('static', filename='/js/vendor/holder.min.js')}}"></script>
  </body>
</html>
